

  <qs-app>
    <div style="padding: 20%;text-align:center;">
      <img src="~/assets/icons/covalent.svg" width="200">
      <div>Quickstart Loading...</div>
    </div>
  </qs-app>
    
@section scripts {
}
